{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="profile-container">
    <img src="{{ url_for('static', filename='images/undraw_Profile_data_re_v81r.png') }}" alt="Profile Picture" class="page-image">

    <h1>{{ user.username }}'s Profile</h1>

    <h2>Profile</h2>
    <p>Username: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <h2>Your API Token</h2>
    <p>{{ user.api_token }}</p>

    <h2>Your Cars</h2>
    {% if cars %}
        <ul>
        {% for car in cars %}
            <li>
                {{ car.year }} {{ car.make }} {{ car.model }} - {{ car.description }}
                <a href="{{ url_for('cars.edit_car', car_id=car.id) }}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{{ url_for('cars.delete_car', car_id=car.id) }}" class="btn btn-danger btn-sm">Delete</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't added any cars yet.</p>
    {% endif %}
    
    <a href="{{ url_for('cars.add_car') }}" class="btn btn-success">Add a New Car</a>
</div>

{% endblock %}